/********************* reset start *********************/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
ul {
    margin: 0;
    padding: 0;
}
div, a, ul, li{
    box-sizing: border-box;
}
/********************* reset end *********************/


/********************* clearfix start *********************/
.cr-clearfix:before,
.cr-clearfix:after {
    content: " ";
    display: table;
}
.cr-clearfix:after {
    clear: both;
}
/********************* clearfix end *********************/


.cr-container {
    margin: 0 0.2rem;
    max-width: 12.2rem;
}


/********************* header start *********************/
.cr-header{
    height: 0.8rem;
}
.cr-header-title {
    float: left;
    margin: 0;
    height: 100%;
    line-height: 0.8rem;
    font-size: 0.36rem;
}
.cr-header-right {
    position: relative;
    float: right;
    height: 100%;
    font-size: 0.14rem;
}
.cr-member-operation {
    text-align: right;
    line-height: 2;
}
.cr-member-operation > a {
    text-decoration: underline;
}
.cr-member-operation > i {
    display: inline-block;
    margin: 0 0.05rem 0 0.2rem;
    width: 0.13rem;
    height: 0.1rem;
}
.cr-member-operation > i > img {
    width: 100%;
    height: 100%;
}
.cr-header-nav {
    display: table;
    position: absolute;
    list-style: none;
    right: 0;
    bottom: 0;
}
.cr-header-nav > li {
    display: table-cell;
    vertical-align: bottom;
}
.cr-header-nav > li > a {
    display: inline-block;
    padding: 0.09rem;
    margin-left: 0.04rem;
    border: 3px solid #000;
    border-bottom: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-weight: bold;
    white-space: nowrap;
}
.cr-header-nav > li > .active {
    padding-top: 0.14rem;
    padding-bottom: 0.14rem;
    margin-bottom: -3px;
    color: #E7E7E7;
    background-color: #606060;
}
/********************* header end *********************/


/********************* main start *********************/
.cr-main {
    border: 3px solid #000;
}

/********* main nav start *********/
.cr-main-nav{
    padding: 0.1rem 0.18rem;
    border-bottom: 3px solid #000;
    background-color: #606060;
}
.cr-main-nav > h3{
    float: left;
    margin: 0;
    color: #E7E7E7;
    font-size: 0.25rem;
}
.cr-main-nav-list{
    float: left;
    list-style: none;
}
.cr-main-nav-list > li{
    float: left;
    margin-left: 0.09rem;
}
.cr-main-nav-list > li > a{
    display: inline-block;
    padding: 0.06rem 0.12rem;
    min-width: 0.75rem;
    border: 2px solid #3C3B3B;
    border-radius: 25px;
    text-align: center;
    background-color: #999;
}
.cr-main-nav-list > li > .active {
    background-color: #DDD;
}
/********* main nav end *********/

/********* main content start *********/
.cr-main-content{
    position: relative;
    min-height: 5.2rem;
}

/* main content list start */
.cr-main-list{
    float: left;
    padding: 0.18rem;
    list-style: none;
    width: 9.25rem;
}
.cr-main-item{
    padding: 0.1rem 0.2rem;
    border: 2px solid #444;
}
.cr-main-item-idle{
    background-color: #CCE8B5;
}
.cr-main-item-building{
    background-color: #FFFBB9;
}
.cr-main-item > i{
    float: left;
    display: inline-block;
    width: 0.52rem;
    height: 0.52rem;
    border-radius: 50%;
    background-color: #929292;
}
.cr-main-item-content{
    float: left;
    margin-left: 0.2rem;
    padding: 0.08rem 0;
}
.cr-main-item-row-1{
    font-weight: bold;
}
.cr-main-item-row-1 > span:first-child{
    margin-right: 0.26rem;
}
.cr-main-item-line{
    color: #92A1A3;
}
.cr-main-item-row-2{
    font-size: 14px;
    line-height: 0.18rem;
}
.cr-main-item-row-2 > i:first-child{
    font-weight: bold;
}
.cr-main-item-row-2 a{
    text-decoration: underline;
}
.cr-main-item-row-2 > span:last-child{
    float: right;
}
.cr-main-item-reso{
    margin-right: 0.22rem;
}
.cr-main-item-icon{
    display: inline-block;
    width: 0.18rem;
    height: 0.18rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
}
.cr-main-item-delete{
    background-image: url("../img/delete.png");
}
.cr-main-item-deny{
    background-image: url("../img/deny.png");
}
/* main content list end */

/* main content summary start */
.cr-main-summary{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9.25rem;
    right: 0;
    border-left: 2px solid #444;
}
/* main content summary end */

/********* main content end *********/
/********************* main end *********************/
