<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <title>Cruise</title>
    <script>
        // set font size of root element for rem
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // use 1600px as max width
                    clientWidth = clientWidth > 1600 ? 1600 : clientWidth;
                    docEl.style.fontSize = 100 * (clientWidth / 1220) + 'px';
                };
            // add event listener to recalculate
            win.addEventListener(resizeEvt, recalc);
            // calculate when DOMContentLoaded
            doc.addEventListener('DOMContentLoaded', function () {
                recalc();
                // show body after calculating to avoid user see the calculation process
                doc.getElementsByTagName('body')[0].setAttribute('style', 'display: block;');
            });
        })(document, window);
    </script>
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/mobile.css">
</head>
<body>
    <div class="cr-container">
        <!-------header start------->
        <header class="cr-header cr-clearfix">
            <h1 class="cr-header-title">Cruise</h1>
            <div class="cr-header-right">
                <div  class="cr-member-operation">
                    <span>Signed in as </span><a href="#">Member</a>
                    <i class="cr-member-icon"></i><a href="#">Sign out</a>
                </div>
                <ul class="cr-header-nav" id="header_nav">
                    <li><a href="#">DASHBOARD</a></li>
                    <li><a href="#">MY CRUISE</a></li>
                    <li><a href="#" class="active">AGENTS</a></li>
                    <li><a href="#">HELP</a></li>
                </ul>
            </div>
        </header>
        <!-------header end------->
        <!-------main start------->
        <main class="cr-main">
            <!--main nav start-->
            <div class="cr-main-nav cr-clearfix">
                <h3>Agents</h3>
                <ul class="cr-main-nav-list" id="main_nav">
                    <li><a href="#" data-agent-type="all">All</a></li>
                    <li><a href="#" class="active" data-agent-type="physical">Physical</a></li>
                    <li><a href="#" data-agent-type="virtual">Virtual</a></li>
                </ul>
            </div>
            <!--main nav end-->
            <div class="cr-main-content cr-clearfix">
                <ul class="cr-main-list" id="agent_list">
                    <!--list templte start-->
                    <script type="template" id="agent_list_templ">
                        <% for( var i = 0; i < data.length; i++) { %>
                        <% if(data[i].status === 'idle'){ %>
                        <li class="cr-main-item cr-clearfix cr-main-item-idle js-agent-item">
                        <% }else{ %>
                        <li class="cr-main-item cr-clearfix cr-main-item-building js-agent-item">
                        <% } %>
                            <i></i>
                            <div class="cr-main-item-content">
                                <div class="cr-main-item-row-1">
                                    <span><%=data[i].name%></span>
                                    <span class="cr-main-item-line">|</span>
                                    <span><%=data[i].status%></span>
                                    <span class="cr-main-item-line">|</span>
                                    <span><%=data[i].ip%></span>
                                    <span class="cr-main-item-line">|</span>
                                    <span><%=data[i].path%></span>
                                </div>
                                <div class="cr-main-item-row-2">
                                    <span class="cr-main-item-add js-add-res">
                                        <i>+</i>
                                        <a href="#">Specify Resources</a>
                                    </span>
                                    <span class="cr-main-item-line">|</span>
                                    <span>Resources:</span>
                                    <div class="cr-main-item-reso js-res-container">
                                        <% for(var j = 0; j < data[i].resources.length; j++) { %>
                                        <span>
                                        <%=data[i].resources[j]%><i class="cr-main-item-icon cr-main-item-delete js-delete-res"></i>
                                        </span>
                                        <% } %>
                                    </div>
                                    <% if(data[i].status === 'idle'){ %>
                                    <span class="cr-main-item-deny-con">
                                        <i class="cr-main-item-icon cr-main-item-deny"></i>
                                        <a href="#">Deny</a>
                                    </span>
                                    <% } %>
                                </div>
                            </div>
                            <!--dialog start-->
                            <div class="cr-main-dialog js-dialog">
                                <div class="cr-main-dialog-con">
                                    <span>(separate multiple resources name with commas)</span>
                                    <span class="cr-main-dialog-warn js-dialog-warn">can not be empty.</span>
                                    <input>
                                    <div>
                                        <button class="js-dialog-add">Add resources</button>
                                        <button class="js-dialog-close">Close</button>
                                    </div>
                                </div>
                                <div class="cr-main-triangle"></div>
                            </div>
                            <!--dialog end-->
                        </li>
                        <% } %>
                    </script>
                    <!--list templte end-->
                </ul>
                <!--summary start-->
                <div class="cr-main-summary-con">
                    <div class="cr-main-summary">
                        <h4>Summary</h4>
                        <ul>
                            <script type="template" id="summary_templ">
                                <li><span class="cr-main-summary-status">building</span><span><%=data.building%></span></li>
                                <li><span class="cr-main-summary-status">idle</span><span><%=data.idle%></span></li>
                            </script>
                        </ul>
                    </div>
                    <div class="cr-main-summary">
                        <h4>History</h4>
                        <ul>
                            <script type="template" id="history_list_templ">
                                <% for( var i = 0; i < data.length; i++) { %>
                                <li title="bjstdmngbgr02/Acceptance_test"><%=data[i]%></li>
                                <% } %>
                            </script>
                        </ul>
                    </div>
                </div>
                <!--summary end-->
            </div>
        </main>
    </div>
</body>
<script src="./js/dom-wrap.js"></script>
<script src="./js/template.js"></script>
<script src="./js/data.js"></script>
<script src="./js/common.js"></script>
<script>
    (function () {
        // config js hook
        var js_hook = {
            header_nav: '#header_nav',
            main_nav: '#main_nav',
            agent_list: '#agent_list',
            agent_item: '.js-agent-item',
            add_res: '.js-add-res',
            delete_res: '.js-delete-res',
            res_container: '.js-res-container',
            dialog: '.js-dialog',
            dialog_close: '.js-dialog-close',
            dialog_add: '.js-dialog-add',
            dialog_warn: '.js-dialog-warn'
        }
        var $main_nav = Cr.getEle(js_hook.main_nav);

        Cr.js_hook = js_hook;
        // save agent type
        Cr.agent_type = $main_nav.getEle('.active')[0].getAttribute('data-agent-type');
        // init agent list
        Cr.refreshList(Cr.agent_type);

        /*********** init event start **********/
        // header nav switching event
        var $header_nav = Cr.getEle(js_hook.header_nav);
        $header_nav.on('click', 'a', function () {
            var $this = Cr.wrap(this);
            if(!$this.hasClass('active')){
                $header_nav.getEle('.active')[0].removeClass('active');
                $this.addClass('active');
                // TODO: page switch
            }
        });

        // mian header nav switching event
        $main_nav.on('click', 'a', function () {
            var $this = Cr.wrap(this);
            if(!$this.hasClass('active')){
                $main_nav.getEle('.active')[0].removeClass('active');
                $this.addClass('active');
                // refresh agent list when switch nav
                Cr.agent_type = this.getAttribute('data-agent-type');
                Cr.refreshList(Cr.agent_type);
            }
        });

        var $agent_list = Cr.getEle(js_hook.agent_list);

        // delete resources
        $agent_list.on('click', js_hook.delete_res, function () {
            Cr.deleteRes(this.parentNode);
        });

        // click 'Specify Resources' to add resource
        $agent_list.on('click', js_hook.add_res, function () {
            var $this = Cr.wrap(this);
            showDialog($this.parent(js_hook.agent_item).getEle(js_hook.dialog)[0]);
        });

        // close dialog
        $agent_list.on('click', js_hook.dialog_close, function () {
            var $this = Cr.wrap(this);
            hideDialog($this.parent(js_hook.dialog));
        });

        // click the add button to add resource
        $agent_list.on('click', js_hook.dialog_add, function () {
            var $this = Cr.wrap(this);
            var $dialog = $this.parent(js_hook.dialog);
            var $input = $dialog.getEle('input')[0];
            // if the input value is empty, show warnning message
            if(/^\s*$/.test($input.value)){
                $dialog.getEle(js_hook.dialog_warn)[0].show();
            } else {
                // remove the start and end blank characters
                var val = $input.value.replace(/(^\s*)|(\s*$)/g,'');
                // use commas to split input value into array
                var resources = val.split(/[ ]*,[ ]*/);
                // call Cr.addRes to synchronize views and data
                Cr.addRes($dialog.parentNode, resources);
                // empety input
                $input.value = '';
                hideDialog($dialog);
            }
        });

        $agent_list.on('input', 'input', function () {
            var $this = Cr.wrap(this);
            // hide warning message when input non-blank characters
            if(/^\s*$/.test(this.value)){
                $this.parent(js_hook.dialog).getEle(js_hook.dialog_warn)[0].hide();
            }
        });

        function showDialog(cur_dialog) {
            // hide all dialog
            [].forEach.call($agent_list.getEle(js_hook.dialog), function (dialog) {
                dialog.hide();
            });
            // show current dialog
            cur_dialog.show();
        }
        function hideDialog(cur_dialog) {
            cur_dialog.hide();
        }
        /*********** init event end **********/
    })()
</script>
</html>